@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic&display=swap);
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
[class*=_icon-]::before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
._icon-arrow:before {
  content: ""
}
._icon-face:before {
  content: ""
}
._icon-inst:before {
  content: ""
}
:root {
  --fontFamily: "Open Sans",sans-serif;
  --mainColor: #303032;
  --transparent: transparent;
  --whiteColor: #fff;
  --whiteBorder: rgba(255, 255, 255, 0.75);
  --whiteOpacity: rgba(255, 255, 255, 0.9);
  --whiteBrColor: #f0f1f0;
  --skywayColor: #adbed2;
  --silverColor: #545454;
  --silverBrColor: rgba(197, 209, 221, 0.5);
  --blackBrColor: #303032;
  --blackColor: #000;
  --nightOwlColor: #7c7d81;
  --br100: 6.25rem;
  --letter-spacing: 3px
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: var(--mainColor);
  line-height: 1;
  font-family: var(--fontFamily);
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: var(--fontFamily);
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
address {
  margin: 0;
  padding: 0;
  font-style: normal;
  line-height: normal;
  font-size: inherit;
  color: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 89.375rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.btn {
  display: inline-flex;
  padding: 9px 22px;
  color: var(--blackBrColor);
  text-align: center;
  font-size: .6875rem;
  line-height: 1.82;
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
  border-radius: var(--br100);
  border: .0625rem solid var(--blackBrColor);
  background-color: var(--skywayColor);
  transition: all .3s ease 0s
}
.btn--transp {
  background-color: var(--transparent);
  border: .0625rem solid var(--whiteBorder);
  color: var(--whiteColor)
}
.btn--white {
  background-color: var(--whiteColor)
}
.menu {
  flex: 1 1 auto
}
.menu__list {
  display: flex;
  gap: 20px 70px;
  align-items: center;
  flex-wrap: wrap;
  color: var(--whiteColor);
  font-size: .875rem;
  line-height: 1.42;
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase
}
.menu__link {
  transition: color .3s ease;
  position: relative
}
.menu__link::after {
  content: "";
  position: absolute;
  bottom: -.125rem;
  left: 50%;
  width: 0;
  height: .0625rem;
  background-color: var(--whiteColor);
  transition: width .3s ease,left .3s ease
}
.menu__social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.4375rem
}
.menu__social li {
  flex: 0 0 20px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center
}
.menu__social li a {
  font-size: 20px;
  flex: 0 0 20px;
  width: 20px;
  height: 20px;
  align-self: center;
  display: inline-flex;
  justify-content: center;
  color: var(--skywayColor);
  position: relative
}
.menu__social li a::before {
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease,-webkit-transform .3s ease
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.services__wrapper {
  list-style-type: none;
  counter-reset: item
}
.services__wrapper .count {
  position: relative
}
.services__wrapper .count:before {
  counter-increment: item;
  content: counter(item);
  font-family: var(--fontFamily);
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(-2.75rem,2rem);
  transform: translate(-2.75rem,2rem);
  font-size: 280px;
  z-index: 5;
  pointer-events: none;
  color: var(--whiteBrColor);
  font-weight: 800
}
.hidden {
  position: absolute;
  width: .0625rem;
  height: .0625rem;
  margin: -.0625rem;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}
.header {
  transition: padding .3s ease,background-color .3s ease;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 55
}
.header._header-scroll {
  background: rgba(9,11,26,.6);
  padding-top: .9375rem;
  padding-bottom: .9375rem
}
.header__container {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  justify-content: space-between
}
.header__logo {
  position: relative;
  z-index: 3;
  max-width: 140px
}
.header__logo img {
  max-width: 100%
}
.footer {
  overflow: hidden;
  background-color: var(--blackBrColor);
  color: var(--whiteOpacity);
  padding-bottom: 2.5rem
}
.footer__container {
  position: relative
}
.footer__logo {
  display: inline-block;
  max-width: 10.625rem
}
.footer__logo img {
  max-width: 100%
}
.footer__logo:not(:last-child) {
  margin-bottom: 1.875rem
}
.footer__body {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  gap: 1.875rem 4.125rem
}
.footer__body:not(:last-child) {
  margin-bottom: 1.875rem
}
.footer__body h4 {
  color: var(--whiteColor);
  font-size: .75rem;
  line-height: 1.66;
  letter-spacing: .25rem;
  text-transform: uppercase
}
.footer__body h4:not(:last-child) {
  margin-bottom: 2.5625rem
}
.footer__about {
  line-height: 1.6
}
.footer__about:not(:last-child) {
  margin-bottom: .625rem
}
.footer__about p:not(:last-child) {
  margin-bottom: .625rem
}
.footer__address address {
  line-height: 1.75
}
.footer__address address:not(:last-child) {
  margin-bottom: .9375rem
}
.footer__contact ul li a {
  line-height: 1.6;
  position: relative;
  display: inline-block
}
.footer__contact ul li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  transition: width .3s ease,left .3s ease;
  height: .0625rem;
  background-color: var(--whiteColor)
}
.footer__contact h4:last-of-type:not(:last-child) {
  margin-bottom: 1.0625rem
}
.footer__social ul li a {
  display: flex;
  align-items: center;
  gap: 1.125rem
}
.footer__social ul li a i {
  flex: 0 0 1.875rem;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  background-color: var(--whiteColor);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #090b19
}
.footer__social ul li a span {
  color: var(--whiteColor);
  line-height: 1.25;
  letter-spacing: -.03rem;
  position: relative;
  display: inline-block
}
.footer__social ul li a span::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -.125rem;
  width: 0;
  transition: width .3s ease,left .3s ease;
  height: .0625rem;
  background-color: var(--whiteColor)
}
.footer__social ul li:not(:last-child) {
  margin-bottom: 2.4375rem
}
.footer__social ul:not(:last-child) {
  margin-bottom: 2.9375rem
}
.footer__copy {
  max-width: 17.125rem;
  display: flex;
  gap: .625rem;
  color: var(--whiteColor)
}
.footer__copy i {
  font-size: 1.5rem
}
.footer__copy p {
  font-size: .8125rem;
  line-height: 1.6
}
.hero {
  position: relative;
  min-height: 100dvh;
  display: flex
}
.hero h1 {
  color: var(--whiteColor);
  font-weight: 600
}
.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
.hero__bg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}
.hero__bg::after {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(9,11,26,.4);
  pointer-events: none
}
.hero__container {
  padding-bottom: 3.125rem;
  position: relative;
  z-index: 3;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  gap: 1.875rem
}
.hero__decor {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: rgba(255,255,255,.24);
  width: .0625rem;
  pointer-events: none
}
.hero__decor--1 {
  left: 19.3%
}
.hero__decor--2 {
  left: 34.426573%
}
.hero__decor--3 {
  right: 47.714286%
}
.hero__decor--4 {
  right: 9.642857%
}
.hero__content {
  max-width: 663px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  align-items: flex-start;
  flex-grow: 1;
  height: 100%
}
.hero__down-btn {
  align-self: flex-end;
  border-radius: 50%;
  border: .0625rem solid var(--whiteColor);
  opacity: .8;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s ease 0s
}
.hero__down-btn i {
  font-size: 1.5rem;
  color: var(--whiteColor);
  -webkit-animation: arr 2s linear infinite;
  animation: arr 2s linear infinite;
  position: relative
}
@-webkit-keyframes arr {
  0% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px)
  }
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px)
  }
}
@keyframes arr {
  0% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px)
  }
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px)
  }
}
.services__header {
  max-width: 62.1875rem;
  padding-left: .9375rem;
  padding-right: .9375rem;
  margin: 0 auto
}
.services__header h2 {
  color: var(--skywayColor);
  font-weight: 800;
  line-height: 1.2
}
.services__text {
  color: var(--silverColor);
  font-size: 1.125rem;
  line-height: 1.75
}
.services__text p b {
  font-weight: 700
}
.services__text p:not(:last-child) {
  margin-bottom: .625rem
}
.services__list {
  display: grid;
  grid-template-columns: repeat(3,1fr)
}
.services__card {
  position: relative;
  overflow: hidden
}
.services__card img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 2
}
.services__card h3 {
  position: relative;
  z-index: 4;
  color: var(--whiteBrColor);
  font-weight: 700;
  line-height: 1.2;
  padding: 42px 30px
}
.services__card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: rgba(9,11,26,.4);
  z-index: 3
}
.services__card:not(:last-child) {
  border-right: .0625rem solid var(--whiteBrColor)
}
.services__down-list {
  max-width: 84.6875rem;
  margin: 0 auto;
  display: grid;
  height: 100%
}
.services__item {
  flex: 1 1 25%;
  padding-top: 30px;
  padding-bottom: 180px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  align-self: flex-end
}
.services__item h3 {
  color: var(--blackBrColor);
  font-weight: 700;
  line-height: 1.2
}
.services__item h3:not(:last-child) {
  margin-bottom: 1.5rem
}
.services__item p {
  color: var(--nightOwlColor);
  font-size: .9375rem;
  line-height: 1.6;
  flex-grow: 1
}
.services__item p:not(:last-child) {
  margin-bottom: 10px
}
.services__item.count::before {
  z-index: 1;
  color: rgba(197,209,221,.5);
  font-weight: 800;
  line-height: 1.2;
  -webkit-transform: translate(-15px,-18%);
  transform: translate(-15px,-18%)
}
.services__info {
  position: relative;
  flex-grow: 1;
  align-self: stretch
}
.services__icon {
  flex: 0 0 4.5rem;
  width: 4.5rem;
  height: 4.375rem;
  position: absolute;
  right: 32.448378%;
  bottom: 0;
  z-index: 2;
  -webkit-transform: translateY(-11.3125rem);
  transform: translateY(-11.3125rem)
}
.services__icon img {
  max-width: 100%
}
.portfolio {
  height: 100vh;
  position: relative
}
.portfolio h2 {
  color: var(--whiteColor);
  font-size: .75rem;
  line-height: 1.66;
  letter-spacing: .25rem;
  text-transform: uppercase
}
.portfolio h2:not(:last-child) {
  margin-bottom: 6.25rem
}
.portfolio__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0
}
.portfolio__bg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover
}
.portfolio__bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(9,11,26,.4);
  pointer-events: none;
  z-index: 2
}
.portfolio__container {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center
}
.portfolio__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  max-width: 38.8125rem
}
.portfolio__text {
  color: var(--whiteColor);
  font-weight: 600;
  line-height: 1.37;
  letter-spacing: -.09rem
}
.portfolio__text p:not(:last-child) {
  margin-bottom: .625rem
}
.portfolio__text:not(:last-child) {
  margin-bottom: 2.75rem
}
.portfolio-gallery__list {
  display: grid
}
.portfolio-gallery__card {
  position: relative;
  aspect-ratio: 466/465
}
.portfolio-gallery__card img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 1
}
.portfolio-gallery__card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(9,11,26,.3)
}
.portfolio-gallery__info {
  position: relative;
  z-index: 3;
  height: 100%;
  padding: 36px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .75rem;
  color: var(--whiteColor);
  text-align: center
}
.portfolio-gallery__info address {
  font-size: .75rem;
  line-height: 1.66;
  letter-spacing: .25rem;
  text-transform: uppercase
}
.portfolio-gallery__info h3 {
  flex-grow: 1;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: -.045rem
}
.portfolio-gallery__info p {
  line-height: 1.25;
  letter-spacing: .25rem;
  text-transform: uppercase
}
.gallery__container {
  position: relative
}
.gallery__header {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  justify-content: space-between;
  flex-wrap: wrap
}
.gallery__header:not(:last-child) {
  margin-bottom: 1.6875rem
}
.gallery__facebook {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.4;
  position: relative
}
.gallery__facebook::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  height: .125rem;
  background-color: var(--mainColor);
  width: 0%;
  transition: width .3s ease,left .3s
}
.gallery__inst {
  display: flex;
  align-items: center;
  gap: .875rem
}
.gallery__inst i {
  font-size: 1.25rem;
  color: var(--skywayColor)
}
.gallery__inst span {
  color: var(--blackColor);
  line-height: 1.4;
  text-transform: uppercase;
  position: relative
}
.gallery__inst span::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  height: .0625rem;
  background-color: var(--blackColor);
  width: 0%;
  transition: width .3s ease,left .3s
}
.gallery__list {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
  gap: 1.875rem
}
.gallery__img {
  display: block;
  aspect-ratio: 328/392;
  position: relative;
  overflow: hidden
}
.gallery__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease,-webkit-transform .3s ease;
  will-change: transform
}
.get-in {
  min-height: 400px;
  position: relative;
  display: flex
}
.get-in h2 {
  color: var(--whiteColor);
  font-weight: 600;
  line-height: 1.37;
  letter-spacing: -.09rem
}
.get-in__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0
}
.get-in__bg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover
}
.get-in__bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(9,11,26,.4)
}
.get-in__container {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  padding-bottom: 108px
}
.get-in__content {
  max-width: 65rem;
  justify-content: space-between;
  flex-wrap: wrap
}
@media (min-width:87.5em) {
  .services__wrapper .count:before {
    font-size: 17.5rem
  }
  .footer {
    padding-top: 7.5rem
  }
  .hero h1 {
    font-size: 4.875rem
  }
  .services {
    padding-top: 6.25rem
  }
  .services__header:not(:last-child) {
    margin-bottom: 7.5rem
  }
  .services__header h2 {
    font-size: 3.75rem
  }
  .services__card h3 {
    font-size: 2.25rem
  }
  .services__item {
    padding-left: 2.125rem
  }
  .services__item h3 {
    font-size: 2rem
  }
  .services__item.count::before {
    font-size: 13.75rem
  }
  .portfolio:not(:last-child) {
    margin-bottom: 7.5rem
  }
  .portfolio__text {
    font-size: 3rem
  }
  .gallery {
    padding-bottom: 9rem
  }
  .get-in h2 {
    font-size: 3rem
  }
}
@media (min-width:460px) {
  .portfolio-gallery__list {
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr))
  }
}
@media (min-width:479.98px) {
  .footer__body {
    grid-template-columns: repeat(2,1fr)
  }
}
@media (min-width:600px) {
  .footer__decor {
    position: absolute;
    top: -7.5rem;
    right: 50%;
    width: .0625rem;
    height: 200%;
    background-color: rgba(240,241,240,.24);
    pointer-events: none;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
  }
  .get-in__decor {
    position: absolute;
    top: -7.5rem;
    right: 50%;
    width: .0625rem;
    height: 200%;
    background-color: rgba(240,241,240,.24);
    pointer-events: none;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
  }
}
@media (min-width:767.98px) {
  .menu__body {
    display: flex;
    align-items: center;
    gap: 83px;
    justify-content: flex-end
  }
  .header {
    padding-top: 1.5625rem;
    padding-bottom: 1.5625rem
  }
  .hero__container {
    padding-top: 5.625rem
  }
  .services__header {
    display: flex
  }
  .services__header h2 {
    flex: 0 1 24.6875rem
  }
  .services__text {
    flex: 0 1 27.875rem
  }
  .services__list {
    grid-template-columns: repeat(3,1fr)
  }
  .services__card {
    aspect-ratio: 504/700
  }
  .services__down-list {
    grid-template-columns: repeat(2,1fr);
    padding-left: .9375rem;
    padding-right: .9375rem
  }
  .services__item {
    border-right: .0625rem solid var(--skywayColor)
  }
  .portfolio-gallery:not(:last-child) {
    margin-bottom: 4.125rem
  }
  .portfolio-gallery__list {
    grid-template-columns: repeat(auto-fit,minmax(370px,1fr));
    padding-bottom: 80px
  }
  .portfolio-gallery__list li:nth-child(even) {
    -webkit-transform: translateY(-3.75rem);
    transform: translateY(-3.75rem)
  }
  .get-in h2 {
    flex: 0 1 21.875rem
  }
  .get-in__content {
    display: flex;
    align-items: flex-end;
    gap: 1.25rem
  }
}
@media (min-width:767.98px)and (min-width:87.5em) {
  .services__header {
    gap: 8.125rem
  }
  .portfolio-gallery__list {
    row-gap: 12.5rem
  }
}
@media (min-width:991.98px) {
  .footer__logo:not(:last-child) {
    margin-bottom: 2.1875rem
  }
  .footer__about {
    max-width: 15.4375rem;
    padding-top: 3.3125rem
  }
  .footer__address address {
    max-width: 12.0625rem
  }
  .footer__contact ul:not(:last-child) {
    margin-bottom: 2.9375rem
  }
  .footer__social ul li:not(:last-child) {
    margin-bottom: 2.4375rem
  }
  .hero__content {
    padding-left: 2.8125rem
  }
  .hero__down-btn {
    flex: 0 0 100px;
    width: 100px;
    height: 100px
  }
  .portfolio__content {
    margin-left: 3.75rem
  }
  .gallery__inst {
    margin-right: 1.375rem
  }
}
@media (min-width:1100px) {
  .footer__logo {
    margin-left: 2.3125rem
  }
  .footer__body {
    grid-template-columns: repeat(4,1fr);
    margin-left: 2.3125rem;
    margin-right: 2.3125rem
  }
  .footer__body:not(:last-child) {
    margin-bottom: 5.125rem
  }
  .footer__copy {
    margin-left: 2.3125rem
  }
  .services__down-list {
    grid-template-columns: repeat(4,1fr)
  }
  .services__item {
    padding-top: 8.25rem;
    padding-bottom: 17.8125rem
  }
  .get-in__content {
    margin-left: 3.8125rem
  }
}
@media (min-width:1350px) {
  .footer__decor {
    position: absolute;
    right: 0
  }
  .footer__decor--1 {
    -webkit-transform: translateX(calc(0 - .9375rem));
    transform: translateX(calc(0 - .9375rem))
  }
  .footer__decor--2 {
    right: 26.071429%
  }
  .footer__decor--3 {
    right: 50.928571%
  }
  .footer__decor--4 {
    right: 76%
  }
  .gallery__decor {
    right: 0;
    position: absolute;
    top: 0;
    width: .0625rem;
    height: 200%;
    background-color: var(--skywayColor);
    pointer-events: none;
    z-index: -1
  }
  .gallery__decor--1 {
    -webkit-transform: translateX(calc(0 - .9375rem));
    transform: translateX(calc(0 - .9375rem));
    top: -200px
  }
  .gallery__decor--2 {
    right: 26.071429%;
    top: -128px
  }
  .gallery__decor--3 {
    right: 50.928571%;
    top: -200px
  }
  .gallery__decor--4 {
    right: 76%;
    top: -128px
  }
  .get-in__decor {
    position: absolute;
    right: 0
  }
  .get-in__decor--1 {
    -webkit-transform: translateX(calc(0 - .9375rem));
    transform: translateX(calc(0 - .9375rem))
  }
  .get-in__decor--2 {
    right: 26.071429%
  }
  .get-in__decor--3 {
    right: 50.928571%
  }
  .get-in__decor--4 {
    right: 76%
  }
}
@media (max-width:9991.98px) {
  .footer__social ul li:not(:last-child) {
    margin-bottom: 1.25rem
  }
}
@media (max-width:1100px) {
  .services__item.count::before {
    -webkit-transform: translate(-15px,0);
    transform: translate(-15px,0)
  }
  .services__icon {
    -webkit-transform: translate(50%,-100px);
    transform: translate(50%,-100px);
    right: 50%
  }
}
@media (max-width:991.98px) {
  .services__wrapper .count::before {
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
  .footer__body h4:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .footer__contact ul:not(:last-child) {
    margin-bottom: 1.5625rem
  }
  .hero__decor--2,
  .hero__decor--3 {
    display: none
  }
  .services__card h3 {
    padding: .9375rem .625rem
  }
}
@media (max-width:767.98px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    right: -100%;
    top: 0;
    overflow: auto;
    padding: 5.625rem .9375rem 1.875rem .9375rem;
    transition: right .3s;
    background-color: var(--blackBrColor)
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.1875rem;
    right: -100%;
    top: 0;
    transition: right .3s;
    z-index: 2;
    background-color: var(--blackBrColor)
  }
  .menu-open .menu__body {
    right: 0
  }
  .menu-open .menu__body::before {
    right: 0
  }
  .menu__list {
    flex-direction: column;
    align-items: flex-end
  }
  .menu__list:not(:last-child) {
    margin-bottom: 20px
  }
  .menu__link {
    font-size: 18px
  }
  .menu__social {
    align-items: flex-end;
    justify-content: flex-end
  }
  .menu__social li {
    flex: 0 0 26px;
    width: 26px;
    height: 26px
  }
  .menu__social li a {
    flex: 0 0 26px;
    width: 26px;
    height: 26px;
    font-size: 26px
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: var(--whiteColor)
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .header {
    padding-top: .9375rem;
    padding-bottom: .9375rem
  }
  .hero__container {
    padding-top: 5rem
  }
  .hero__down-btn {
    flex: 0 0 50px;
    width: 50px;
    height: 50px
  }
  .services__header h2:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .services__text:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .services__list {
    grid-template-columns: 1fr
  }
  .services__card {
    aspect-ratio: 1/1
  }
  .services__item:not(:last-child) {
    border-bottom: .0625rem solid var(--skywayColor)
  }
  .services__item.count::before {
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
  .portfolio-gallery:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .portfolio-gallery__list {
    gap: .9375rem
  }
  .get-in h2:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .get-in__btn:not(:last-child) {
    margin-bottom: 1.25rem
  }
}
@media (max-width:767.98px)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:61.99875em) {
  .footer {
    padding-top: 1.875rem
  }
  .services__item {
    padding-left: .9375rem
  }
}
@media (max-width:47.99875em) {
  .services__wrapper .count:before {
    font-size: 7.5rem
  }
  .hero h1 {
    font-size: 2.375rem
  }
  .services {
    padding-top: 1.875rem
  }
  .services__header:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .services__header h2 {
    font-size: 2rem
  }
  .services__card h3 {
    font-size: 1.5rem
  }
  .services__item h3 {
    font-size: 1.375rem
  }
  .services__item.count::before {
    font-size: 7.5rem
  }
  .portfolio:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .portfolio__text {
    font-size: 2rem
  }
  .gallery {
    padding-bottom: 1.875rem
  }
  .get-in h2 {
    font-size: 2rem
  }
}
@media (min-width:47.99875em)and (max-width:87.5em) {
  @supports (font-size:clamp(7.5rem ,-4.6511977469rem + 25.3156545679vw ,17.5rem)) {
    .services__wrapper .count:before {
      font-size: clamp(7.5rem ,-4.6511977469rem + 25.3156545679vw ,17.5rem)
    }
  }
  @supports not (font-size:clamp(7.5rem ,-4.6511977469rem + 25.3156545679vw ,17.5rem)) {
    .services__wrapper .count:before {
      font-size: calc(7.5rem + 10*(100vw - 47.99875rem)/ 39.50125)
    }
  }
  @supports (font-size:clamp(2.375rem ,-0.6627994367rem + 6.328913642vw ,4.875rem)) {
    .hero h1 {
      font-size: clamp(2.375rem ,-.6627994367rem + 6.328913642vw ,4.875rem)
    }
  }
  @supports not (font-size:clamp(2.375rem ,-0.6627994367rem + 6.328913642vw ,4.875rem)) {
    .hero h1 {
      font-size: calc(2.375rem + 2.5*(100vw - 47.99875rem)/ 39.50125)
    }
  }
  @supports (padding-top:clamp(1.875rem ,-3.4411490143rem + 11.0755988735vw ,6.25rem)) {
    .services {
      padding-top: clamp(1.875rem ,-3.4411490143rem + 11.0755988735vw ,6.25rem)
    }
  }
  @supports not (padding-top:clamp(1.875rem ,-3.4411490143rem + 11.0755988735vw ,6.25rem)) {
    .services {
      padding-top: calc(1.875rem + 4.375*(100vw - 47.99875rem)/ 39.50125)
    }
  }
  @supports (margin-bottom:clamp(1.875rem ,-4.9600487326rem + 14.2400556944vw ,7.5rem)) {
    .services__header:not(:last-child) {
      margin-bottom: clamp(1.875rem ,-4.9600487326rem + 14.2400556944vw ,7.5rem)
    }
  }
  @supports not (margin-bottom:clamp(1.875rem ,-4.9600487326rem + 14.2400556944vw ,7.5rem)) {
    .services__header:not(:last-child) {
      margin-bottom: calc(1.875rem + 5.625*(100vw - 47.99875rem)/ 39.50125)
    }
  }
  @supports (font-size:clamp(2rem ,-0.1264596057rem + 4.4302395494vw ,3.75rem)) {
    .services__header h2 {
      font-size: clamp(2rem ,-.1264596057rem + 4.4302395494vw ,3.75rem)
    }
  }
  @supports not (font-size:clamp(2rem ,-0.1264596057rem + 4.4302395494vw ,3.75rem)) {
    .services__header h2 {
      font-size: calc(2rem + 1.75*(100vw - 47.99875rem)/ 39.50125)
    }
  }
  @supports (font-size:clamp(1.5rem ,0.588660169rem + 1.8986740926vw ,2.25rem)) {
    .services__card h3 {
      font-size: clamp(1.5rem ,.588660169rem + 1.8986740926vw ,2.25rem)
    }
  }
  @supports not (font-size:clamp(1.5rem ,0.588660169rem + 1.8986740926vw ,2.25rem)) {
    .services__card h3 {
      font-size: calc(1.5rem + .75*(100vw - 47.99875rem)/ 39.50125)
    }
  }
  @supports (font-size:clamp(1.375rem ,0.6155501408rem + 1.5822284105vw ,2rem)) {
    .services__item h3 {
      font-size: clamp(1.375rem ,.6155501408rem + 1.5822284105vw ,2rem)
    }
  }
  @supports not (font-size:clamp(1.375rem ,0.6155501408rem + 1.5822284105vw ,2rem)) {
    .services__item h3 {
      font-size: calc(1.375rem + .625*(100vw - 47.99875rem)/ 39.50125)
    }
  }
  @supports (font-size:clamp(7.5rem ,-0.0944985918rem + 15.8222841049vw ,13.75rem)) {
    .services__item.count::before {
      font-size: clamp(7.5rem ,-.0944985918rem + 15.8222841049vw ,13.75rem)
    }
  }
  @supports not (font-size:clamp(7.5rem ,-0.0944985918rem + 15.8222841049vw ,13.75rem)) {
    .services__item.count::before {
      font-size: calc(7.5rem + 6.25*(100vw - 47.99875rem)/ 39.50125)
    }
  }
  @supports (margin-bottom:clamp(1.875rem ,-4.9600487326rem + 14.2400556944vw ,7.5rem)) {
    .portfolio:not(:last-child) {
      margin-bottom: clamp(1.875rem ,-4.9600487326rem + 14.2400556944vw ,7.5rem)
    }
  }
  @supports not (margin-bottom:clamp(1.875rem ,-4.9600487326rem + 14.2400556944vw ,7.5rem)) {
    .portfolio:not(:last-child) {
      margin-bottom: calc(1.875rem + 5.625*(100vw - 47.99875rem)/ 39.50125)
    }
  }
  @supports (font-size:clamp(2rem ,0.7848802253rem + 2.5315654568vw ,3rem)) {
    .portfolio__text {
      font-size: clamp(2rem ,.7848802253rem + 2.5315654568vw ,3rem)
    }
  }
  @supports not (font-size:clamp(2rem ,0.7848802253rem + 2.5315654568vw ,3rem)) {
    .portfolio__text {
      font-size: calc(2rem + 1*(100vw - 47.99875rem)/ 39.50125)
    }
  }
  @supports (padding-bottom:clamp(1.875rem ,-6.7827283947rem + 18.0374038796vw ,9rem)) {
    .gallery {
      padding-bottom: clamp(1.875rem ,-6.7827283947rem + 18.0374038796vw ,9rem)
    }
  }
  @supports not (padding-bottom:clamp(1.875rem ,-6.7827283947rem + 18.0374038796vw ,9rem)) {
    .gallery {
      padding-bottom: calc(1.875rem + 7.125*(100vw - 47.99875rem)/ 39.50125)
    }
  }
  @supports (font-size:clamp(2rem ,0.7848802253rem + 2.5315654568vw ,3rem)) {
    .get-in h2 {
      font-size: clamp(2rem ,.7848802253rem + 2.5315654568vw ,3rem)
    }
  }
  @supports not (font-size:clamp(2rem ,0.7848802253rem + 2.5315654568vw ,3rem)) {
    .get-in h2 {
      font-size: calc(2rem + 1*(100vw - 47.99875rem)/ 39.50125)
    }
  }
}
@media (min-width:61.99875em)and (max-width:87.5em) {
  @supports (padding-top:clamp(1.875rem ,-11.8005244841rem + 22.0577422675vw ,7.5rem)) {
    .footer {
      padding-top: clamp(1.875rem ,-11.8005244841rem + 22.0577422675vw ,7.5rem)
    }
  }
  @supports not (padding-top:clamp(1.875rem ,-11.8005244841rem + 22.0577422675vw ,7.5rem)) {
    .footer {
      padding-top: calc(1.875rem + 5.625*(100vw - 61.99875rem)/ 25.50125)
    }
  }
  @supports (padding-left:clamp(0.9375rem ,-1.9495551689rem + 4.6566344787vw ,2.125rem)) {
    .services__item {
      padding-left: clamp(.9375rem ,-1.9495551689rem + 4.6566344787vw ,2.125rem)
    }
  }
  @supports not (padding-left:clamp(0.9375rem ,-1.9495551689rem + 4.6566344787vw ,2.125rem)) {
    .services__item {
      padding-left: calc(.9375rem + 1.1875*(100vw - 61.99875rem)/ 25.50125)
    }
  }
}
@media (min-width:767.98px)and (max-width:991.98px) {
  .hero__down-btn {
    flex: 0 0 75px;
    width: 75px;
    height: 75px
  }
}
@media (min-width:767.98px)and (min-width:61.99875em)and (max-width:87.5em) {
  @supports (gap:clamp(1.875rem ,-13.3200272045rem + 24.5086025195vw ,8.125rem)) {
    .services__header {
      gap: clamp(1.875rem ,-13.3200272045rem + 24.5086025195vw ,8.125rem)
    }
  }
  @supports not (gap:clamp(1.875rem ,-13.3200272045rem + 24.5086025195vw ,8.125rem)) {
    .services__header {
      gap: calc(1.875rem + 6.25*(100vw - 61.99875rem)/ 25.50125)
    }
  }
  @supports (row-gap:clamp(7.5rem ,-4.6560217636rem + 19.6068820156vw ,12.5rem)) {
    .portfolio-gallery__list {
      row-gap: clamp(7.5rem ,-4.6560217636rem + 19.6068820156vw ,12.5rem)
    }
  }
  @supports not (row-gap:clamp(7.5rem ,-4.6560217636rem + 19.6068820156vw ,12.5rem)) {
    .portfolio-gallery__list {
      row-gap: calc(7.5rem + 5*(100vw - 61.99875rem)/ 25.50125)
    }
  }
}
@media (min-width:767.98px)and (max-width:61.99875em) {
  .services__header {
    gap: 1.875rem
  }
  .portfolio-gallery__list {
    row-gap: 7.5rem
  }
}
@media (any-hover:hover) {
  .btn:hover {
    background-color: var(--blackBrColor);
    color: var(--whiteColor)
  }
  .btn--transp:hover {
    border-color: var(--blackBrColor)
  }
  .menu__link:hover::after {
    width: 100%;
    left: 0
  }
  .menu__social li a:hover::before {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
  }
  .footer__contact ul li a:hover::after {
    width: 100%;
    left: 0
  }
  .footer__social ul li a:hover span::after {
    width: 100%;
    left: 0
  }
  .hero__down-btn:hover {
    opacity: 1;
    background-color: var(--whiteColor)
  }
  .hero__down-btn:hover i {
    color: var(--mainColor)
  }
  .gallery__facebook:hover::after {
    width: 100%;
    left: 0
  }
  .gallery__inst:hover span::after {
    width: 100%;
    left: 0
  }
  .gallery__img:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
}